.h1-first-line{
    background-color: var(--red-color);
    padding: 0 30px 0 46px;
}
.line2{
    margin-left: 54px;
}
.line3{
    margin-left: 422px;
}
.cover-text{
    margin-top: 18px;
    margin-left: -72px;
}
.cover-text .big-text{
    margin-left: 54px;
    margin-top: -92px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#cover{
    margin-top: 100px;
    display: flex;
}

/*card list*/
.product-card{
    position: relative;
    width: 380px;
    margin-bottom: 20px;
}
.card-img-container{
    width: 379px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.card-product-info{
    color: var(--white-text);
    background-color: var(--card-background);
    height: 272px;
    width: calc(100% - 50px);
    padding: 30px 19px 30px 31px;
}
.card-img-container > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 379px;
    height: 300px;
    object-fit: cover;
}
.product-category{
    margin-top: 5px;
    margin-bottom: 20px;
}

.product-card-bottom{
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.product-to-cart{
    width: 170px;
    height: 49px;
    background-color: var(--blue-color);
    border: none;
    cursor: pointer;
    transition: .1s;
}
.product-open-info{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.description-container{
    width: 331px;
    height: 62px;
    position: relative;
    overflow: hidden;
}
.product-description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
#product-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
}
/*card list*/

/*filters*/
#filters-container{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    position: relative;
    margin-top: 83px;
}
.filter-header{
    width: 180px;
    height: 46px;
    background-color: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    cursor: pointer;
}
.filter-options{
    width: 149px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-gray);
    position: absolute;
    z-index: 2;
    top: 46px;
    border-top: 10px solid var(--background-color);
    padding: 20px 15px;
    padding-right: 0;
    gap: 10px;
}
.filter-with-second{
    gap: 0;
}
.filter-option{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    transition: .1s;
    cursor: pointer;
}
.filter-option > ul{
    cursor: default;
}
.filter-option:hover > p{
    color: var(--blue-color);
}
.filter-option > p{
    transition: .1s;
}
.filter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-options{
    display: none;
}
.filter-container:hover .filter-options{
    display: flex;
}
.filter-options:hover{
    display: flex;
}
.li-categories{
    display: flex;
    justify-content: space-between;
}
.li-categories:hover .arrow-img {
    content: url("../img/left-arrow.svg");
}
.filter-options-second{
    position: absolute;
    left: 164px;
    top: 0;
    padding:20px 40px 20px 10px; 
    background-color: var(--light-gray);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filter-options-second > li{
    cursor: pointer;
    transition: .1s;
}
.filter-options-second > li:hover{
    color: var(--blue-color);
}
.filter-options-second{
    display: none;
}
.filter-option:hover .filter-options-second{
    display: flex;
}
.filter-options-second:hover .filter-option{
    display: flex;
}
.filter-options-second:hover{
    display: flex;
}
.price-options{
    display: flex;
    align-items: center;
    gap: 5px;
}

.size-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.size-options,
.price-options{
    display: flex;
    gap: 8px;
    align-items: center;
}
.price-container {
    position: relative;
    display: flex;
    align-items: center;
}
.radio-input {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}
.radio-img {
    width: 20px;
    height: 20px;
    pointer-events: none;
}
.filters-button{
    background-color: var(--blue-color);
    border: none;
    width: 180px;
}
/*filters*/

/*pagination*/
#pagination-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#pagination{
    margin-top: 70px;
    align-self: center;
    display: flex;
    gap: 5px;
    align-items: center;
}
.page-number{
    color: var(--white-text);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.current-page{
    border: 1px solid var(--red-color);
}
/*pagination*/